<!-- start book  -->

<!-- start slider -->

<div class="slider">
  <div class="overlay">
    <div class="text">
      <img src="../../../assets/BarberShop/slider/mustache.png" alt="img"/>
        <h3>our Books</h3>
    </div>
  </div>
</div>
<!-- end slider -->

<!-- start content -->
<div class="books text-center">
   <div class="container">
      <div class="header">
        <h5>let's make an appointment for your life</h5>
        <h2>Book Now</h2>
        <hr>
      </div>

      <div class="row">
        <div class="col-lg-6 col-md-5">
          <div class="form-reverse">
            <!-- form content -->
            <form  autocomplete="off">
              <div class="form-row align-items-center">
                <input type="text" id="firstName" name="fname" required
                class="form-control forms" placeholder="Enter first name"
               [(ngModel)]="Book.firstName" #fname="ngModel">
               <div class="alert alert-danger" *ngIf="fname.invalid && fname.touched">
                    <span *ngIf="fname.errors?.required">First name is required</span>
               </div>

                <input type="text" id="lastName" name="lname"
                 class="form-control forms" placeholder="Enter last name"
                [(ngModel)]="Book.lastName" #lname="ngModel" required>
                <div class="alert alert-danger" *ngIf="lname.invalid && lname.touched">
                  <span *ngIf="lname.errors?.required">Last name is required</span>
                </div>

                <input type="email" id="email" name="email"
                 class="form-control forms" placeholder="Enter your Email"
                 [(ngModel)]="Book.email" #email="ngModel" required>

                 <div class="alert alert-danger" *ngIf="email.invalid && email.touched">
                  <span *ngIf="email.errors?.required">Email is required</span>
                 </div>

                 <input type="tel" id="phone" name="phone"
                class="form-control forms" placeholder="Enter your phone"
                [(ngModel)]="Book.phone" #phone="ngModel" minlength="9" required>

                <div class="alert alert-danger" *ngIf="phone.invalid && phone.touched">
                  <span *ngIf="phone.errors?.required">Phone is required</span>
                  <span *ngIf="phone.errors?.minlength">Please, Enter 9 Numbers</span>
                 </div>

                <select  class="form-control formsSelect" name="option" [(ngModel)]="Book.option" #option="ngModel" required>
                  <option value="0" Selected>Choose Day and Time</option>
                  <option value="1">Tues-Fri 9:00am - 6:00pm</option>
                  <option value="2">Sat 9:00am - 3:00pm</option>
                  <option value="3">Man 9:00am - 3:00pm</option>
                  <option value="4">Other time...</option>
                </select>

                <div class="alert alert-danger" *ngIf="option.invalid && option.touched">
                  <span *ngIf="option.errors?.required">Date and Time  is required</span>
                 </div>
                <textarea  id="message" rows="3" cols="7"
                 class="form-control forms" placeholder="Give us Your Message."></textarea>
                <button type="submit" [disabled]="!fname.valid && !lname.valid &&
                !email.valid && !phone.valid && !option.valid"><i class="fa fa-user"> Get Reverse</i></button>
              </div>
            </form>
            <!-- end form contnet -->
         </div>
        </div>
        <!-- end one column -->

        <!-- start second column -->
        <div class="col-lg-6 ml-lg-auto col-md-7">
          <div class="info">
            <img src="../../../assets/BarberShop/barbers/istockphoto-1030250098-612x612.jpg" alt="barber"/>
            <h4>Book Now</h4>
            <p>We have the best barbers in the world!, if you want get a beautiful Style</p>
          </div>
          <div class="social">
            <ul class="list-unstyled">
                <div><li><i class="fa fa-facebook"></i></li><a href="#">Join us Facebook</a></div>
                <div><li><i class="fa fa-instagram"></i></li><a href="#">Join us instagram</a></div>
                <div><li><i class="fa fa-linkedin"></i></li><a href="#">Join us linkedin</a></div>
                <div><li><i class="fa fa-youtube-play"></i></li><a href="#">Join us youtube</a></div>
            </ul>
          </div>
        </div>
        <!-- end second column -->
      </div>
    </div>
</div>
 <!-- end content -->

<!-- end book  -->




