<!-- start about  -->
<!-- start slider -->
<div class="slider">
  <div class="overlay">
    <div class="text">
      <img src="../../../assets/BarberShop/slider/mustache.png" alt="img" />
      <h3>About us</h3>
    </div>
  </div>
</div>
<!-- end slider -->

<!-- start content -->
<div class="about">
  <div class="container">
    <div class="header">
      <h2>our Mission</h2>
      <hr>
      <p>{{getOurMission}}</p>
    </div>
    <div class="header">
      <h2>why us?</h2>
      <hr>
      <p>{{getWhyUs}}</p>
    </div>
    <div class="header">
      <h2>about us</h2>
      <hr>
      <p>PP{{getAboutUs}}</p>
      <ul class="list-unstyled icons">
        <li *ngFor="let item of getIconsAndText"><i class="fa fa-check-circle"> {{item.text}}</i></li>
      </ul>
    </div>
  </div>
</div>
<!-- start cards -->
<div class="cards">
  <div class="container">
    <div class="row">
      <!-- start one column -->
      <div class="col-xs-12 col-md-6 content" *ngFor="let item of getAboutBarbers">
        <div class="card">
          <img src={{item.image}} alt="BarberPicture" />
          <div class="card-content">
            <h5>{{item.title}}</h5>
            <p>{{item.text}}</p>
          </div>
        </div>
      </div>
      <!-- end one column -->
    </div>
  </div>
  <!-- end cards -->