.upperBar {
  height: auto;
  background-color: var(--sec-background-color);
  margin-bottom: 0;
  width: 100%;
  padding: 20px;
}

.upperBar .contacts {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.upperBar .info {
  padding: 5px 0;
}

.upperBar .info span {
  font-weight: 500;
  color: var(--primary-color);
  font-size: 16px;
  font-family: "Poppins";
}

@media screen and (max-width:576px) {
  .upperBar .contacts {
    flex-direction: column;
    justify-content: start;
  }
}

@media screen and (min-width:576px) and (max-width:768px) {
  .upperBar .contacts {
    flex-direction: column;
    justify-content: start;
  }
}
@media screen and (max-width:1200px) {
  .upperBar .info span{
    font-size: 14px;
  }
}


.upperBar .social ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media screen and (max-width:576px) {
  .upperBar .social ul {
    justify-content: center;
  }
}

@media screen and (min-width:576px) and (max-width:768px) {
  .upperBar .social ul {
    justify-content: center;
  }

}

.upperBar .social ul li a {
  font-family: "Poppins";
  color: var(--pri-background-color);
  padding-left: 10px;
}

.upperBar .social ul li a>i {
  font-size: 18px;
}

.upperBar .social ul li a>i:hover {
  color: var(--primary-color);
}

.header {
  width: 100%;
  margin: 0;
}

.navbar {
  padding: 0 20px;
}

.header .logo {
  display: inline-block;
  margin: 0px 40px;
}

@media (max-width:768px) {
  .header .logo img {
    width: 90px;
  }

  .navbar {
    padding: 0;
  }

}

.header .logo img {
  max-width: 120px;
}

.header .navbar-light .navbar-nav .nav-item {
  padding: 0;
}

.header .navbar-light .navbar-nav .nav-item a {
  font-family: "Poppins";
  background-color: var(--pri-background-color);
  color: var(--primary-color);
  font-size: 18px;
  transition: .4s;
  padding: 10px 20px;
}

.header .navbar-light .navbar-nav .nav-item a:hover {
  background-color: var(--sec-background-color);
}