.upperBar
{
  max-height:auto;
  display: flex;
  align-items: center;
  background-color: var(--sec-background-color);
  padding: 0px 20px;
  margin-bottom: 0;
  max-width: 100%;
}
@media  (min-width:420px) {
    .upperBar {
      display: flex;
      flex-wrap: wrap;
    }
}

.upperBar .info
{
  display: flex;
  justify-content:center;
  padding: 5px 0;
}

.upperBar .info span
{
  font-weight: 500;
  color: var(--primary-color);
  font-size: 18px;
}

.upperBar i
{
  font-size: 18px;
}
.upperBar .social {
  text-align: end;
}
@media  (min-width:420px) {
  .upperBar .social {
      text-align: center;
      margin-top: -10px;
  }
}
.upperBar .social ul
{
margin-top: 15px;
}
.upperBar .social ul li
{
  display: inline;
}
.upperBar .social ul li a
{
  color:var(--pri-background-color);
  padding-left: 10px;
}
.upperBar .social ul li a > i
{
  padding-top: 5px;
  font-size: 23px;
}
.upperBar .social ul li a > i:hover
{
  color: var(--primary-color);
}

.header
{
  width: 100%;
  margin:0;
}

.navbar {
  padding:0 20px;
}

.header .logo
{
  display: inline-block;
  margin:0px 40px;
}
@media  (max-width:768px) {
  .header .logo img{
      width: 90px;
  }
}

.header .logo img
{
  max-width: 120px;
}
.header .navbar-light .navbar-nav .nav-item
{
  padding: 0;
}
.header .navbar-light .navbar-nav .nav-item a
{
    background-color: var(--pri-background-color);
    color: var(--primary-color);
    font-size: 18px;
    transition:.4s;
    padding: 10px 20px;
}

.header .navbar-light .navbar-nav .nav-item a:hover
{
      background-color: var(--sec-background-color);
}
