<!-- start upperBar -->
<div class="upperBar">
  <div class="row">
    <div class="col-lg-8 col-md-10 col-xs-12 contacts">
      <div class="info">
        <i class="fa fa-map"><span> {{getAddress}}</span></i>
      </div>
      <div class="info">
        <i class="fa fa-phone"><span> {{getPhone}}</span></i>
      </div>
      <div class="info">
        <i class="fa fa-envelope"><span> {{getEmail}}</span></i>
      </div>
    </div>
    <div class="col-lg-4 col-md-2 col-xs-12 social">
      <ul class="list-unstyled p-0 m-0">
        <li><a><i class="fa fa-facebook"></i></a></li>
        <li><a><i class="fa fa-twitter"></i></a></li>
        <li><a><i class="fa fa-snapchat"></i></a></li>
        <li><a><i class="fa fa-instagram"></i></a></li>
      </ul>
    </div>
  </div>
</div>
<!-- end upperBar -->

<!-- start navbar -->
<div class="header">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="logo">
        <img src="../../../assets/BarberShop/logo/18_big.png" alt="logo" />
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto mr-5">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="services">OurSevices</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="barbers">OurBarbers</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" routerLink="mybook">OurBooks</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" routerLink="contact">Contact</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" routerLink="about">About</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
<!-- end navbar -->